<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/home.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="icon" href="https://static.thenounproject.com/png/4060-200.png">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>DonorSpot</title>
</head>

<body>
    {{!-- Navbar starts here --}}
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img id="logoIcon" src="https://static.thenounproject.com/png/4060-200.png"/>
                DonorSpot
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-none="true"></span>
                <span aria-none="true"></span>
                <span aria-none="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons mainBtns">
                        <a class="button is-light signup" id="signup">
                            Sign Up
                        </a>
                <a class="button is-light login" id="login">
                            Log in
                        </a>
                        <a class="welcome is-size-4"></a>
                                 <a class="button is-light logout" id="logout">
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{{ body }}}
    <script>
        if (sessionStorage.getItem("userId")) {
            console.log("There is a userId");
            $(".welcome").text("Hello, " + JSON.parse(sessionStorage.getItem("userName")));
            document.getElementById("signup").style.display = "none";
            document.getElementById("login").style.display = "none";
        } else {
            document.getElementById("logout").style.display = "none";
        }
    </script>
</body>

</html>