<section class="hero is-danger is-medium">
    <div class="hero-body">

    </div>
  </section>
  <div class="columns">
    <div class="column is-4"></div>
    <div class="card column is-4">
      <header class="card-header">
        <p class="card-header-title">
         {{ userName }} 
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column">

              <h1 class="subtitle">{{ money }}</h1>
              money that you donated/$
            </div>
            <div class="column">
              
             <h1 class="subtitle">{{ 1 }}</h1>
             Number of charity that you have helped/times
            </div>
          </div>

        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Back to home</a>
      </footer>
    </div>
    <div class="column is-4"></div>

  </div>

</body>
