<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <title>Project 2 Template Testing</title>
  </head>
  <body>
    <!-- Navbar starts here -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            id="logoIcon"
            src="https://static.thenounproject.com/png/4060-200.png"
            width="112"
            height="28"
          />
          DonorSpot
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light signup" href="/signup" id="signup">
                Sign Up
              </a>
              <a class="button is-light login" href="/login" id="login">
                Log in
              </a>
              <a class="welcome is-size-4"></a>
              <a class="button is-light logout" id="logout">
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar ends here -->

    <form id="submitDonation">
      <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-6">
          <h1 id="checkOut">Secure Checkout <i class="fas fa-lock"></i></h1>
          <i class="creditCard fab fa-cc-visa"></i>
          <i class="creditCard fab fa-cc-amex"></i>
          <i class="creditCard fab fa-cc-mastercard"></i>
          <i class="creditCard fab fa-cc-discover"></i>
          <div class="field">
            <label class="label">Credit Card Number</label>
            <div class="control has-icons-left has-icons-right">
              <input id="cc" class="input" placeholder="Credit Card" />
              <span class="icon is-small is-left">
                <i class="fa fa-credit-card"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
              <box class="box is-right" id=cardtype></box>
            </div>
          </div>
          <div class="field">
            <label class="label">Card Holder Name</label>
            <div class="control has-icons-left has-icons-right">
              <input
                id="cardName"
                class="input"
                type="cardNmame"
                placeholder="Name on Credit Card"
              />
              <span class="icon is-small is-left">
                <i class="fa fa-signature"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Expiry Month</label>
            <div class="control">
              <div class="select">
                <select id="month">
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>Demcember</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Expiry Year</label>
            <div class="control">
              <div class="select">
                <select id="year">
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                  <option>2025</option>
                  <option>2026</option>
                  <option>2027</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">CVC</label>
            <div class="control has-icons-left has-icons-right">
              <input
                id="cvc"
                class="input"
                type="lastname"
              />
              <span class="icon is-small is-left">
                <i class="fa fa-signature"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </div>
          <label class="label">Donation (min. $1.00)</label>
          <div class="field has-addons">
            <p class="control">
              <span class="select">
                <select id="currency">
                  <option selected>$</option>
                  <option>£</option>
                  <option>€</option>
                </select>
              </span>
            </p>
            <p class="control">
              <input
                class="input"
                type="text"
                placeholder="Donation Amount"
                id="donation"
              />
            </p>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button id="submitBtn" class="button is-link">Pay Now</button>
            </div>
          </div>
        </div>
        <div class="column is-3"></div>
      </div>
    </form>
    <script src="/js/donate.js" type="text/javascript"></script>
    <script src="/js/home.js" type="text/javascript"></script>
    <script src="/js/cleave.js"></script>
  <script>
    var cc_type = 'unknown';
    var icon = $('#cardtype');
    var card = new Cleave('#cc', {
      creditCard: true,
      onCreditCardTypeChanged: function (type) {
        console.log(type);
        cc_type = type;
        console.log(cc_type+"this is cctype")
        $("#cardtype").text(cc_type)
      }
    });
  </script>
  </body>
</html>

