.navbar {
  position: fixed;
}

.charitiesDisplay {
  height: 85vh;
}

.charityPage {
  margin-top: 50px;
}

#charity {
  margin-top: 80px;
}

#signup,
#login{
  background-color: hsl(171, 100%, 41%);
}

#logoIcon{
 color: hsl(171, 100%, 41%);
}
.quoteHead {
  background: linear-gradient( rgba(0,0,0,0.05), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1492176273113-2d51f47b23b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px black;
}

#logoIcon {
  width: 30px;
}

#missionStatement {
  font-size: 30px;
  margin-top: 50px;
}

.columnIcon {
  font-size: 60px;
  margin: 20px 0;
  color: whitesmoke;
}


#howTo {
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  margin-top: 15px;
  font-weight: 300;
}


.stepDescription {
  font-size: 20px;
  color: whitesmoke
}

.steps {
  text-align: center;
  height: 400px;
}

.columnHeader {
  margin-top: 30px;
  font-size: 30px;
  color: whitesmoke;
}
.charities {
  overflow-x: scroll;
  width: auto;
  position: absolute;
}


@media screen and (min-width: 1130px){
  .cardsss:hover{
    -ms-transform: scale(.9); 
    -webkit-transform: scale(.9); 
    transform: scale(.9); 
    cursor: pointer;
}
}

.cardsss{
  position: fixed;
  transition:transform 0.5s;
  z-index: 1;
}

.btns {
  background-color: hsl(171, 100%, 41%);
  align-items: center;
  height: 50px;
  width: 50px;
}

@media screen and (max-width : 1130px) {
  .btns {
    visibility: hidden;
  }
}

li {
  list-style: none;
}