.hero {
  background-image: url("https://images.unsplash.com/photo-1492176273113-2d51f47b23b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.table {
  overflow-x: scroll;
  width: auto;
  position: absolute;
}
