.hero {
  background-image: url("https://images.unsplash.com/photo-1492176273113-2d51f47b23b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.charities {
  overflow-x: scroll;
  width: auto;
  position: absolute;
}

.cardsss:hover{
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
  cursor: pointer;

@media (min-width 900px){
  .cardsss:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
    cursor: pointer;
}

}
.cardsss{
  position: fixed;
  transition:transform 0.5s;
}

.btns {
  background-color: hsl(171, 100%, 41%);
  align-items: center;
  height: 50px;
  width: 50px;
}

@media screen and (max-width : 1130px) {
  .btns {
    visibility: hidden;
  }
}
